body {
    cursor: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(images/background.jpg);
    background-size: cover;
}

#trash {
    width: 4vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

#fan {
    position: absolute;
    width: 11vh;
    height: 11vh;
    top: -50vh;
    left: 5vh;
    background-image: url("images/fan.png");
    background-size: cover;
    pointer-events: none;
}

.lamp {
    position: absolute;
    width: 35vh;
    top: -80vh;
}

.plant {
    position: absolute;
    width: 35vh;
    top: 35vh;
}

.lamp-hitbox {
    position: absolute;
    top: -20vh;
    height: 48vh;
    width: 12vh;
}

.plant-hitbox {
    position: absolute;
    top: 45vh;
    width: 24vh;
    height: 100vh;
}