body {
    cursor: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(images/background.jpg);
    background-size: cover;
}

#trash {
    width: 6vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

#fan {
    position: absolute;
    width: 13vh;
    height: 13vh;
    top: -50vh;
    left: 5vh;
    background-image: url("images/fan.png");
    background-size: cover;
    pointer-events: none;
}

.lamp {
    position: absolute;
    width: 50vh;
    top: -10vh;
}

.plant {
    position: absolute;
    width: 30vh;
    top: 50vh;
}

.lamp-hitbox {
    position: absolute;
    top: -10vh;
    height: 48vh;
    width: 18vw;
}

.plant-hitbox {
    position: absolute;
    top: 550px;
    left: 1100px;
    width: 300px;
    height: 500px;
}