body {
    cursor: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(background.jpg);
    background-size: cover;
}

#cursor {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fan {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url("fan.png");
    background-size: cover;
    pointer-events: none;
}

.lamp {
    position: absolute;
    top: -100px;
    left: 1000px;
}

.plant {
    position: absolute;
    top: 500px;
    left: 1040px;
}