body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(images/background.jpg);
    background-size: cover;
}

#trash {
    width: 4vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

#fan {
    position: absolute;
    width: 11vh;
    height: 11vh;
    top: -50vh;
    left: 5vh;
    background-image: url("images/fan.png");
    background-size: cover;
    pointer-events: none;
}

.lamp {
    position: absolute;
    width: 35vh;
    top: -80vh;
}

.plant {
    position: absolute;
    width: 35vh;
    top: 35vh;
}

.lamp-hitbox {
    position: absolute;
    top: -20vh;
    height: 48vh;
    width: 12vh;
}

.plant-hitbox {
    position: absolute;
    top: 45vh;
    width: 24vh;
    height: 100vh;
}

.center-container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%;
  }
  
  .center-container img {
    margin-bottom: 20px; /* Space between logo and button */
  }
  
  .play-button {
    margin-right: 5vw;
    background: rgba(34, 178, 20, 0.8); /* Semi-transparent gradient */
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for contrast */
  }
  
  .play-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  }
  
  .play-button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly lighter shadow on click */
  }
  